<% if(typeof errors != 'undefined') { %>
  <% errors.forEach( (err) => { %>
    <% /* '%=' required to render an output value */ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> <%= err.msg %>
      <button type="button" class="close close_icon" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>
    <% }) %>
<% } %>

<% /* setting up to show flash messages if there are any*/ %>
<% if( success_msg.length !== 0 ) { %>
  <% console.log('what is the success_msg: ', success_msg) %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Holy guacamole - success!</strong> <%= success_msg %>
    <button type="button" class="close close_icon" data-bs-dismiss="alert" aria-label="Close">X</button>
  </div>
<% } %>

<% if( error_msg.length !== 0 ) { %>
  <% console.log('what is the error_msg: ', error_msg) %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole! - fail</strong> <%= error_msg %>
    <button type="button" class="close close_icon" data-bs-dismiss="alert" aria-label="Close">X</button>
  </div>
<% } %>